<div class="comments__comment">
    <p class="comments__comment__username"><%= comment.user.username %></p>
    <p class="comments__comment__text" id="comment-body-<%= comment.id %>"><%= comment.body %></p>
  <% if comment.owned_by?(current_user) %>
    <%= link_to 'Edit', 'javascript:void(0)', class: 'edit-comment', id: "comment-edit-#{comment.id}" %>
    <%= link_to 'Delete', poll_comment_path(comment.poll, comment), method: :delete, class: '' %>
  <% end %>
</div>