<div class="comments">
  <div id="comment-error-messages">

  </div>
  <div id="comment-field">
    <%= render partial: 'shared/comment', collection: @poll.comments.order(created_at: :asc) %>
  </div>
  <%= form_tag poll_comments_path(@poll), id: "comment-form" do %>
  <div class="comments__new-comment">
    <p class="comments__new-comment__username">
      <% if user_signed_in? %>
        <%= current_user.username %>
      <% else %>
        <a href="#" data-module="modal" aria-controls="log-in">Log in</a> to comment.
      <% end %>
    </p>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_field_tag "body", "add a comment", id: "new-comment", :autocomplete => :off %>

  </div>
  <button type="submit" for="new-comment" id="comment-submit" class="comments__submit">comment</button>
  <% end %>

</div>
