<div id="comment-<%= comment.id %>" class="comments__comment">
    <p class="comments__comment__username"><%= comment.user.username %></p>
    <p id="comment-body-<%= comment.id %>" class="comments__comment__text"><%= comment.body %></p>
  
  <div class="comments__new-comment">
    <%= form_tag poll_comment_path(@poll, comment), id: "edit-comment-form-#{comment.id}", method: :put, remote: true do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% end %>
  </div>
  
  
  <% if comment.owned_by?(current_user) %>
    <%= link_to 'Edit', 'javascript:void(0)', class: 'edit-comment', id: "comment-edit-#{comment.id}", commentID: comment.id %>
    <%= link_to 'Delete', poll_comment_path(comment.poll, comment), method: :delete, class: '', id: "comment-delete-#{comment.id}" %>
  <% end %>

</div>
