<dialog hidden class="create-modal modal" id="create-modal">
  <div class="modal__inner">
    <div class="modal__top">
      <div>
        <h2 class="modal__title">Create a poll</h2>
        <p class="create-modal__subtitle">This or That can take it from here.</p>
      </div>
      <button href="/" class="modal__cancel" data-module="modal" aria-controls="create-modal">Cancel<i class="icon-expired"></i></button>
    </div>
    <%= form_for :poll, url: polls_path, multipart: true, remote: true, html: {id: 'poll-form'} do |f| %>
      <div id="poll-error-messages"></div>

      <div class="create-modal__fields__name-poll">
        <h3><span class="form__required">*</span>Give your poll a title <em id="poll-char-count-title">(max 45 characters)</em></h3>
        <%= f.text_field :title, placeholder: "ex: should I buy this or that?", id: "poll-title" %>
      </div>

      <div class="create-modal__fields__option-labels">
        <div class="create-modal__fields__option-label">
          <h3><span class="form__required">*</span>Option A <em id="poll-char-count-opta">(max 25 characters)</em></h3>
          <%= f.text_field :option_a, placeholder: "ex: pizza", id: "poll-option-a" %>
        </div>
        <div class="create-modal__fields__option-label create-modal__fields__option-label--right">
          <h3><span class="form__required">*</span>Option B <em id="poll-char-count-optb">(max 25 characters)</em></h3>
         <%= f.text_field :option_b, placeholder: "ex: tacos", id: "poll-option-b" %>
        </div>
      </div>

      <h3>Upload photos <em>(optional)</em></h3>
      <div class="create-modal__fields__photos">
        <div class="create-modal__fields__photo create-modal__fields__photo--left">
          <h4><i class="icon-upload"></i> Choose from your device</h4>
          <%= f.label :option_a_img, "browse +" %>
          <%= f.file_field :option_a_img, class: "create-modal__fields__photo__browse", id: "poll_option_a_img", accept: ".jpg, .jpeg, .png", :data => {:module => 'upload', :targetstring => '#poll_option_a_img_filename'} %>

          <div class="photo--left__preview">
            <p id="poll_option_a_img_filename">no file chosen</p>
          </div>
          <p class="create-modal__OR">OR</p>
          <h4>Copy and paste a URL</h4>
          <%= f.url_field :option_a_url %>
        </div>
        <div class="create-modal__fields__photo create-modal__fields__photo--right">
          <h4><i class="icon-upload"></i> Choose from your device</h4>
          <%= f.label :option_b_img, "browse +" %>
          <%= f.file_field :option_b_img, class: "create-modal__fields__photo__browse", id: "poll_option_b_img", accept: ".jpg, .jpeg, .png", :data => {:module => 'upload', :targetstring => '#poll_option_b_img_filename'} %>
          <div class="photo--right__preview">
             <p id="poll_option_b_img_filename">no file chosen</p>
          </div>
          <p class="create-modal__OR">OR</p>
          <h4>Copy and paste a URL</h4>
          <%= f.url_field :option_b_url %>
        </div>
      </div>

      <h3>Allow others to vote for:</h3>
      <div class="create-modal__fields__duration">
          <div class="create-modal__fields__duration__input">
            <%= f.number_field "expire[days]", value: 0, min: 0, id: "poll_expire_days" %>
            <%= f.label :expire_days, "days" %>
          </div>
          <div class="create-modal__fields__duration__input">
            <%= f.number_field "expire[hours]", value: 0, min:0,  id: "poll_expire_hours" %>
            <%= f.label :expire_hours, "hours" %>
          </div>
          <div class="create-modal__fields__duration__input">
            <%= f.number_field "expire[mins]", value: 0, step: 10, min: 0, max: 60, id: "poll_expire_mins" %>
            <%= f.label :expire_mins, "minutes" %>
          </div>
      </div>

      <%= f.submit "Submit poll", class: "create-modal__submit" %>
    <% end %>
  </div>
</dialog>
