<% if user_signed_in? %>
    <% if current_user.is_following?(poll.id) %>
        <%= link_to poll_follow_path(poll, current_user.get_follow(poll.id)), method: :delete, remote: true, class: "follow-poll", id: "poll-follow-path-#{poll.id}" do %>
            <i class="icon-follow"></i>
            <span id="poll-follow-<%= poll.id %>">unfollow</span>
        <% end %>
    <% else %>
        <%= link_to poll_follows_path(poll), method: :post, remote: true, class: "follow-poll", id: "poll-follow-path-#{poll.id}" do %>
            <i class="icon-follow"></i>
            <span id="poll-follow-<%= poll.id %>">follow</span>
        <% end %>
    <% end %>
<% else %>
    <%= link_to poll_follows_path(poll), method: :post, remote: true, class: "follow-poll", id: "poll-follow-path-#{poll.id}" do %>
        <i class="icon-follow"></i>
        <span id="poll-follow-<%= poll.id %>">follow</span>
    <% end %>
<% end %>