<div class="poll__options">
  <% if user_signed_in? %>
    <% if current_user.has_voted?(poll.id) %>
      <% if current_user.get_vote(poll.id).option == 0 %>
        <%= render 'shared/option-links', poll: poll, http_methodA: :delete, http_methodB: :put, optionA: poll.fraction_of_votes(0), optionB: poll.fraction_of_votes(1), classNameA: 'poll__options__option--selected', classNameB: '' %>
      <% else %>
        <%= render 'shared/option-links', poll: poll, http_methodA: :put, http_methodB: :delete, optionA: poll.fraction_of_votes(0), optionB: poll.fraction_of_votes(1), classNameA: '', classNameB: 'poll__options__option--selected' %>
      <% end %>
      </div>
      <script>
        var optionA = document.querySelector('#option-a-' + <%= poll.id %>)
        var optionB = document.querySelector('#option-b-' + <%= poll.id %>)
        var optionAText = document.querySelector('#option-a-text-' + <%= poll.id %>)
        var optionBText = document.querySelector('#option-b-text-' + <%= poll.id %>)
        if (<%= poll.fraction_of_votes(0) %> !== 0) {
          var optionAPercentageId = '#option-a__percentage-' + <%= poll.id %>;
          var optionAPercentage = document.querySelector(optionAPercentageId)
          optionAPercentage.innerHTML = Math.round(<%= (poll.fraction_of_votes(0) * 100) %>) + '%';
          optionAText.innerHTML = '<%= poll.option_a %>'
          optionA.classList.remove('poll__options__option--no-votes')
        } else {
          optionAText.innerHTML = ''
          optionA.classList.add('poll__options__option--no-votes')
        }
        if (<%= poll.fraction_of_votes(1) %> !== 0) {
          var optionBPercentageId = '#option-b__percentage-' + <%= poll.id %>;
          var optionBPercentage = document.querySelector(optionBPercentageId)

          optionBPercentage.innerHTML = Math.round(<%= (poll.fraction_of_votes(1) * 100) %>) + '%';
          optionBText.innerHTML = '<%= poll.option_b %>'
          optionB.classList.remove('poll__options__option--no-votes')
        } else {
          optionBText.innerHTML = ''
          optionB.classList.add('poll__options__option--no-votes')
        }
      </script>
    <% else %>
      <%= render 'shared/option-links', poll: poll, http_methodA: :post, http_methodB: :post %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/option-links', poll: poll, http_methodA: nil, http_methodB: nil %>
    </div>
  <% end %>
