<% if single_poll.get_option_a_img.present? %>
  <style>
    #option-a-<%= single_poll.id %> {
      background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(<%= single_poll.get_option_a_img %>);
      background-size: cover;
      color: #fff;
    }

    #option-a-<%= single_poll.id %>:after {
        background: radial-gradient(rgba(97, 183, 242, 1) 50%, rgba(97, 183, 242, 0.3));
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        bottom: -50%;
        content: '<%= single_poll.option_a %>';
    }

    #option-b-<%= single_poll.id %> {
      background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(<%= single_poll.get_option_b_img %>);
      color: #fff;
    }

    #option-b-<%= single_poll.id %>:after {
      background: radial-gradient(rgba(252, 185, 44, 1) 50%, rgba(252, 185, 44, 0.6));
      border-radius: 20px;
      bottom: -52%;
      content: '<%= single_poll.option_b %>';
    }
  </style>
<% end %>

<script>
  let activeClass = "header__utility-nav--active";
  document.querySelector(`.${activeClass}`).classList.remove(activeClass);
</script>

<article class="poll poll-detailed">
  <div class="poll__content">
    <h2><%= single_poll.title %></h2>
    <div class="poll__meta">
      <p><%= single_poll.user.username %></p>
      <ul>
        <li><i class="icon-fire"></i><span id="poll-vote-count-<%= single_poll.id %>"><%= pluralize(single_poll.vote_count, "vote") %></span></li>
        <li>
          <% if single_poll.expired? %>
            <i class="icon-expired"></i><span>expired</span>
          <% else %>
            <i class="icon-clock"></i><span><%= single_poll.time_left %> left</span>
          <% end %>
        </li>
      </ul>
    </div>

    <% if single_poll.expired? %>
      <%= render 'shared/expired-options', poll: single_poll %>
    <% else %>
      <%= render 'shared/options', poll: single_poll %>
    <% end %>
    <ul class="poll__actions">
      <li class="poll__actions__comments poll__actions__action">
        <%= link_to single_poll do %>
          <i class="icon-comment"></i>
          <span><%= pluralize(single_poll.comment_count, "comment") %></span>
        <% end %>
      </li>

      <% if !single_poll.owned_by?(current_user) %>
        <li class="poll__actions__action">
          <%= render 'shared/follow', poll: single_poll %>
        </li>
      <% end %>
      <li class="poll__actions__action">
        <%= link_to 'javascript:void(0)', id:"poll-copy-link-#{single_poll.id}", class: 'copy-link-poll', value: poll_url(single_poll) do %>
          <i class="icon-link"></i>
          <span id="poll-copy-span-<%= single_poll.id %>">copy link</span>
        <% end %>
      </li>
      <% if single_poll.owned_by?(current_user) %>
        <li class="poll__actions__action">
        <%= link_to poll_path(single_poll), method: :delete, id: '', class: '' do %>
            <i class="icon-link"></i>
            <span>delete poll</span>
        <% end %>
        </li>
      <% end %>

    </ul>
  </div>
</article>
