<% if poll.get_option_a_img.present? %>
  <style>
    #option-a-<%= poll.id %> {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= poll.get_option_a_img %>);
    }
    #option-a-<%= poll.id %>:after {
        background: radial-gradient(rgba(97, 183, 242, 1) 50%, rgba(97, 183, 242, 0.3));
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        bottom: -50%;
        content: '<%= poll.option_a %>';
        left: 5%;
    }
  <% end %>
  <% if poll.get_option_b_img.present? %>
    #option-b-<%= poll.id %> {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= poll.get_option_b_img %>);
    }
    #option-b-<%= poll.id %>:after {
      background: radial-gradient(rgba(252, 185, 44, 1) 50%, rgba(252, 185, 44, 0.6));
      border-radius: 20px;
      bottom: -52%;
      content: '<%= poll.option_b %>';
      left: 5%;
    }
  </style>
<% end %>

<article class="poll" id="article-poll-<%= index %>">
  <div class="poll__meta">
    <p><%= poll.user.username %></p>
    <ul>
      <li><i class="icon-fire"></i><span id="poll-vote-count-<%= poll.id %>"><%= pluralize(poll.vote_count, "vote") %></span></li>
      <li>
        <% if poll.expired? %>
          <i class="icon-expired"></i><span>expired</span>
        <% else %>
          <i class="icon-clock"></i><span><%= poll.time_left %> left</span>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="poll__content">
    <h2><%= link_to poll.title, poll %></h2>
    
    <% if poll.expired? %>
      <%= render 'shared/expired-options', poll: poll %>
    <% else %>
      <%= render 'shared/options', poll: poll %>
    <% end %>
    
    <ul class="poll__actions">
      <li class="poll__actions__comments poll__actions__action">
        <a href="#TODO">
          <i class="icon-comment"></i>
          <span><%= link_to pluralize(poll.comment_count, "comment"), poll %></span>
        </a>
      </li>
      <li class="poll__actions__action">
        <%= render 'shared/follow', poll: poll %>
      </li>
      <li class="poll__actions__action">
        <a href="#TODO">
          <i class="icon-link"></i>
          <span>copy link</span>
        </a>
      </li>
    </ul>
  </div>
</article>