<dialog hidden class="form sign-up">
  <form class="form__inner">
    <div class="form__top">
      <h2 class="form__title">Sign up</h2>
      <a href="#TODO" class="form__cancel" data-module="modal" data-modal="sign-up">Cancel<i class="icon-expired"></i></a>
    </div>

    <div class="form__fields">
      <%= form_for(:user, url: registration_path(:user)) do |f| %>
        <div class="form__fields__field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form__fields__field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>

        <div class="form__fields__field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em class="sign-up__field__password__minchar">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form__fields__field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="form__fields__action">
          <%= f.submit "Sign up", class: "form__button" %>
        </div>
      <% end %>
    </div>
  </form>
  <div class="form__bottom-prompt">
    <p>Already have an account?</p>
    <a href="#" data-module="modal" data-modal="log-in">Log in</a>
  </div>
</dialog>
