<!DOCTYPE html>
<html>
  <head>
    <title>ThisOrThat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="body__main">
      <%= render partial: 'shared/header' %>

      <%= yield %>
      
      <%= render partial: 'shared/footer' %>
    </div>
    <% if !user_signed_in? %>
      <%= render partial: 'shared/signup' %>
      <%= render partial: 'shared/login' %>
    <% else %>
      <%= render partial: 'shared/create' %>
    <% end %>
                
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
