<!DOCTYPE html>
<html>
  <head>
    <title>This or That</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T6X89Q6');</script>
    <!-- End Google Tag Manager -->

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6X89Q6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="body__main">
      <%= render partial: 'shared/header' %>

      <%= yield %>

      <%= render partial: 'shared/footer' %>
    </div>
    <% if !user_signed_in? %>
      <%= render partial: 'shared/signup' %>
      <%= render partial: 'shared/login' %>
    <% else %>
      <%= render partial: 'shared/create' %>
    <% end %>
    <%= render partial: 'shared/forgot-password' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
