<!DOCTYPE html>
<html>
  <head>
    <title>ThisOrThat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="body__main">
      <%= render partial: 'shared/header' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

      <%= render partial: 'shared/poll' %>
      <%= render partial: 'shared/footer' %>
    </div>
    <% if !user_signed_in? %>
      <%= render partial: 'shared/signup' %>
      <%= render partial: 'shared/login' %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
